.add-bulk {
  margin: 20px;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-input {
  display: none;
}

/* Hover effect */
.file-label:hover {
  background-color: #0056b3;
}
