<!--<form [formGroup]="signupForm" style="width: 360px; margin: 0 auto; margin-top: 50px;" (ngSubmit)="register(signupForm.value)">-->
<!--  <div class="card">-->
<!--    <div class="card-header">-->
<!--      <strong> Register</strong>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <div class="mb-3">-->
<!--        <label for="fullName" class="form-label">FullName</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          formControlName="fullName"-->
<!--          id="fullName"-->
<!--          placeholder="Type your name"-->
<!--        />-->
<!--        <small *ngIf="signupForm.get('fullName')?.invalid && (signupForm.get('fullName')?.dirty || signupForm.get('fullName')?.touched)" class="text-danger">-->
<!--          <div *ngIf="signupForm.get('fullName')?.errors?.['required']">Name is required.</div>-->
<!--          <div *ngIf="signupForm.get('fullName')?.errors?.['pattern']">Enter a valid Name</div>-->
<!--        </small>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="email" class="form-label">Email</label>-->
<!--        <input-->
<!--          type="email"-->
<!--          class="form-control"-->
<!--          formControlName="email"-->
<!--          id="email"-->
<!--          placeholder="Type your email"-->
<!--        />-->
<!--        <small *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)" class="text-danger">-->
<!--          <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>-->
<!--          <div *ngIf="signupForm.get('email')?.errors?.['email']">Email should be valid</div>-->
<!--        </small>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="password" class="form-label">Password</label>-->
<!--        <input-->
<!--          type="password"-->
<!--          class="form-control"-->
<!--          formControlName="password"-->
<!--          id="password"-->
<!--          placeholder="Type your password"-->
<!--        />-->
<!--        <small *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)" class="text-danger">-->
<!--          <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</div>-->
<!--        </small>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="confirmPassword" class="form-label">Confirm Password</label>-->
<!--        <input-->
<!--          type="password"-->
<!--          class="form-control"-->
<!--          formControlName="confirmPassword"-->
<!--          id="confirmPassword"-->
<!--          placeholder="Confirm Password"-->
<!--        />-->
<!--        <small *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)" class="text-danger">-->
<!--          <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirm the password</div>-->
<!--        </small>-->
<!--        <small class="text-danger" *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.valid && signupForm.get('password')?.valid">Password should match</small>-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-primary w-100" [disabled]="signupForm.invalid">Register</button>-->
<!--      <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Signup</h1>
        </div>
        <br>
        <form [formGroup]="signupform" (ngSubmit)="signup()">
          <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="enter your name" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small *ngIf="signupform.get('name')?.hasError('invalidName') && signupform.get('name')?.touched" class="text-danger"> Name can only contain alphabets and white spaces</small>
          </div>
          <div class="mb-2">
            <label for="exampleInputEmail2" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" placeholder="enter your email id" id="exampleInputEmail2" aria-describedby="emailHelp">
            <small *ngIf="signupform.get('email')?.invalid && signupform.get('email')?.touched" class="text-danger"> Email is Required</small>
          </div>
          <div class="mb-2">
            <label for="exampleInputEmail3" class="form-label">Mobile Number</label>
            <input type="text" formControlName="mobile" class="form-control" placeholder="enter your Mobile number" id="exampleInputEmail3" aria-describedby="emailHelp">
            <small *ngIf="signupform.get('mobile')?.errors?.['required'] && signupform.get('mobile')?.touched" class="text-danger">Mobile number is Required</small>
            <small *ngIf="mobileAlertVisible" class="text-danger">Please enter numbers only</small>
            <small *ngIf="signupform.get('mobile')?.errors?.['pattern'] && signupform.get('mobile')?.touched" class="text-danger">Mobile number must be exactly 10 digits</small>
          </div>
          <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Enter your password" id="exampleInputPassword1">
            <small *ngIf="signupform.get('password')?.invalid && signupform.get('password')?.touched" class="text-danger">Password is Required</small>
          </div>
          <div class="mb-2">
            <label for="exampleInputConfirmPassword1" class="form-label">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm your password" id="exampleInputConfirmPassword1">
            <small *ngIf="passwordMismatch" class="text-danger">Passwords do not match</small>
          </div>
          <button style="margin-top:3px;" type="submit" [disabled]="signupform.invalid" class="btn btn-primary" (click)="signup()">Signup</button>
        </form>
        <a style="color:blue;margin-top:10px;" routerLink="/login">Already Registered? Click here to Login</a>
      </div>
    </div>
  </div>
</div>
