* body {
  margin: 0px auto;
  padding: 20px;
}
.card{
  background-color: #ccccccff;
  border:1px solid #ccc;
}
strong{
  color: rgb(238, 168, 155);
  margin-left: 119px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
